@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,600,700|Dancing+Script:400,700|Indie+Flower|Mountains+of+Christmas:400,700&display=swap");
.max-width {
  width: 100%; }

.absolut-pos {
  position: absolute; }

.top-150 {
  margin-top: 200px !important; }

.top-30 {
  margin-top: 30px; }

.padding-div {
  padding: 25px;
  margin: 30px; }

.padding-div-sm {
  margin: 20px; }

.link-styling {
  text-decoration: none;
  color: #fff; }

.remove-bullets {
  list-style: none; }

@media (max-width: 992px) {
  .navbar {
    height: 80px !important;
    background-color: #78c2ad; }
    .navbar .nav-button {
      display: none; }
    .navbar .navbar-bars {
      display: flex; }
    .navbar .search-bar input {
      display: none; }
    .navbar .search-bar button {
      display: none; }
    .navbar figure {
      display: none !important; }
    .navbar .logo-nav-img {
      width: 125px; }

  .h1 {
    font-size: 42px !important; }

  .h2 {
    font-size: 36px !important; }

  .h3 {
    font-size: 30px !important; }

  .h4 {
    font-size: 26px !important; }

  .h5 {
    font-size: 18px !important; }

  .h6 {
    font-size: 14px !important; }

  .paragraph {
    font-size: 12px !important; }

  .padding-div {
    padding: 5px !important; } }
@media (min-width: 900px) and (max-width: 1100px) {
  .paragraph-nav {
    display: none; } }
@media (min-width: 899px) {
  .navbar .navbar-bars {
    display: none; } }
body {
  margin: 0;
  padding: 0; }
  body .h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 0;
    margin: 10px; }
  body .h2 {
    font-size: 44px;
    font-weight: 700;
    padding: 0;
    margin: 10px; }
  body .h3 {
    font-size: 38px;
    font-weight: 700;
    padding: 0;
    margin: 10px; }
  body .h4 {
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    margin: 10px; }
  body .h5 {
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 10px; }
  body .h6 {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 10px; }
  body .paragraph {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 10px; }
  body .paragraph-big {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 10px; }
  body .paragraph-nav {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 10px; }
  body .funny-font {
    font-family: "Mountains of Christmas", cursive; }
  body .italic {
    font-family: "Dancing Script", cursive; }
  body .regular {
    font-family: "Comfortaa", cursive; }
  body .mint-text {
    color: #78c2ad; }
  body .pink-text {
    color: #f3969a; }
  body .warning-text {
    color: #ffce67; }
  body .dangere-text {
    color: #ff7851; }
  body .success-text {
    color: #56cc9d; }
  body .white-color {
    color: #fff; }
  body .black-color {
    color: #000; }
  body .animate {
    transform: rotate(-30deg); }
  body .animate:hover {
    transform: rotate(0deg);
    transition: 0.5s;
    transition-timing-function: ease-in; }
  body .img-person {
    width: 76px;
    height: 76px;
    border: 5px solid #78c2ad;
    border-radius: 22px; }
  body .logo-nav-img {
    width: 225px;
    height: auto; }
  body .big-img {
    width: 250px;
    height: auto; }
  body .nav-img {
    height: 50px;
    width: auto; }
  body .img-negativ {
    margin-top: -40px; }
  body .pink-lipstick {
    background-color: #cb0162; }
  body .pink-razzamatazz {
    background-color: #d90166; }
  body .pink-camelot {
    background-color: #872657; }
  body .mint-green {
    background-color: #255145; }
  body .pink-color {
    background-color: #f3969a; }

figcaption {
  text-align: center; }

figure {
  margin: 0;
  display: flex;
  flex-direction: column; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.center-grid {
  text-align: center; }

.regular-font {
  font-family: "Comfortaa", cursive; }

.input-field-sm {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  width: 20%;
  font-family: "Mountains of Christmas", cursive;
  box-shadow: 0px 0px 5px 2px rgba(63, 150, 191, 0.4); }

.input-field-lg {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  width: 40%;
  font-family: "Mountains of Christmas", cursive;
  box-shadow: 0px 0px 5px 2px rgba(63, 150, 191, 0.4); }

.search-bar {
  justify-content: flex-end; }

input:focus {
  background-color: #F4FCFB; }

.span-header {
  background-color: #fff;
  padding: .3em .4em;
  line-height: 1.5em;
  -webkit-box-decoration-break: clone; }

.input-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px; }

.input-label {
  font-family: "Dancing Script", cursive;
  font-size: 20px; }

.navbar {
  top: 0;
  height: 180px;
  display: grid;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 5px 2px rgba(63, 150, 191, 0.4);
  background-color: #78c2ad; }
  .navbar ul {
    font-family: "Mountains of Christmas", cursive;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar ul li {
      font-family: "Mountains of Christmas", cursive; }
      .navbar ul li a {
        text-decoration: none;
        color: #fff; }
      .navbar ul li a:hover {
        color: #888888; }
  .navbar .search-bar {
    padding: 20px;
    display: flex;
    width: 30%; }
    .navbar .search-bar input {
      padding: 10px;
      margin: 5px;
      border-radius: 20px;
      border: none;
      width: 100%;
      font-family: "Mountains of Christmas", cursive;
      box-shadow: 0px 0px 5px 2px rgba(63, 150, 191, 0.4); }
  .navbar .navbar-bars {
    color: #f7f7f9;
    border: 1px solid #f7f7f9;
    margin: 5px;
    padding: 10px 15px;
    font-size: 25px;
    opacity: 0.7; }

/*# sourceMappingURL=app.css.map */
