@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,600,700|Dancing+Script:400,700|Indie+Flower|Mountains+of+Christmas:400,700&display=swap');


$mint-color:#78c2ad;
$pink-color:#f3969a;
$white-color:#fff;
$search-color:#5a5a5a;
$nav-hover:#888888;
$icon-color:#f7f7f9;
$warning-color:#ffce67;
$dangere-color:#ff7851;
$success-color:#56cc9d;
$focus-color:#F4FCFB; 
$pink-lipstick:#cb0162;
$pink-razzamatazz:#d90166;
$pink-camelot:#872657;
$mint-green:#255145;
$black-color:#000;

$funny-font: 'Mountains of Christmas', cursive;
$italic-font: 'Dancing Script', cursive;
$regular-font: 'Comfortaa', cursive;

@mixin navigation-ul{
    @include navigation-li();
    list-style-type: none;
    margin:0;
    padding:0;

}
@mixin navigation-li{
    font-family: $funny-font;
}
@mixin navigation{
    top:0;
    height:180px;
    display: grid;
    align-items: center;
    width: 100%;
    box-shadow:0px 0px 5px 2px rgba(63, 150, 191, 0.4);
}
@mixin icons{
    color:$icon-color;
    border: 1px solid $icon-color;
    margin: 5px;
    padding: 10px 15px;
    font-size: 25px;
    opacity: 0.7;
}
@mixin input-style($width){
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    width:$width;
    font-family: $funny-font;
    box-shadow:0px 0px 5px 2px rgba(63, 150, 191, 0.4);
    
}
@mixin animation{
    .animate{
        transform: rotate(-30deg);
    }
    .animate:hover{
        transform: rotate(0deg);
        transition: 0.5s;
        transition-timing-function: ease-in;
    }
}
@mixin text-color{
    .mint-text{
        color:$mint-color;
    }
    .pink-text{
        color:$pink-color;
    }
    .warning-text{
        color:$warning-color;
    }
    .dangere-text{
        color:$dangere-color;
    }
    .success-text{
        color:$success-color;
    }
    .white-color{
        color:$white-color;
    }
    .black-color{
        color:$black-color;
    }
    
}
@mixin images{
.img-person{
    width:76px;
    height:76px;
    border: 5px solid $mint-color;
    border-radius: 22px;
}
.logo-nav-img{
    width:225px;
    height:auto;
}
.big-img{
    width:250px;
    height:auto;
}
.nav-img{
    height:50px;
    width:auto;
}
.img-negativ{
    margin-top: -40px;
}
}
.max-width{
    width:100%;
}
.absolut-pos{
    position:absolute;
}
.top-150{
    margin-top:200px!important;
}
.top-30{
    margin-top:30px;
}
@mixin fonts-headers-ps{
    .h1{
        font-size:50px;
        font-weight: 700;
        padding:0;
        margin: 10px; 
    }
    .h2{
        font-size:44px; 
        font-weight: 700;
        padding:0;
        margin: 10px; 
    }
    .h3{
        font-size:38px; 
        font-weight: 700;
        padding:0;
        margin: 10px; 
    }
    .h4{
        font-size:32px; 
        font-weight: 700; 
        padding:0;
        margin: 10px;
    }
    .h5{
        font-size:26px; 
        font-weight: 700; 
        padding:0;
        margin: 10px;
    }
    .h6{
        font-size:20px; 
        font-weight: 700; 
        padding:0;
        margin: 10px;
    }
    .paragraph{
        font-size: 16px;
        font-weight: 400; 
        padding:0;
        margin: 10px;
    }
    .paragraph-big{
        font-size:20px; 
        font-weight: 400; 
        padding:0;
        margin: 10px;
    }
    .paragraph-nav{
        font-size: 16px;
        font-weight: 400; 
        padding:0;
        margin: 10px;
    }
    .funny-font{
        font-family: $funny-font;
    }
    .italic{
        font-family:$italic-font;
    }
}
@mixin lists{

}
.container-width{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.padding-div{
    padding:25px;
    margin:30px;
}
.padding-div-sm{
    margin:20px;
}

.link-styling{
    text-decoration:none;
    color:$white-color;
}
.remove-bullets{
    list-style: none;
}
@media(max-width: 992px){
    .mint-navbar{
        height:80px!important;
        .nav-button{
            display:none;
        }
        .navbar-bars{
            display:flex;
        }
        .search-bar{
            input{
                display: none;
            }
            button{
                display:none;
            }
        }
       
        figure{
            display:none!important;
        }
       
        .logo-nav-img{
            width:125px;
        }
    }

}
@media (min-width: 900px) and (max-width:1100px){
    .paragraph-nav{
        display:none;
    }
}
@media(min-width: 899px){
    .mint-navbar{
        .navbar-bars{
            display:none;
        }
    }
}
@mixin backgrounds{
    .pink-lipstick{
        background-color:$pink-lipstick;
    }
    .pink-razzamatazz{
        background-color: $pink-razzamatazz;
    }
    .pink-camelot{
        background-color: $pink-camelot;
    }
    .mint-green{
        background-color:$mint-green;
    }
    .pink-color{
        background-color:$pink-color;
    }
}
body{
    margin:0;
    padding:0;
    @include fonts-headers-ps();
    @include text-color();
    @include animation();
    @include images();
    @include backgrounds();
}


figcaption{
text-align:center;
}
figure{
    margin:0;
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-grid{
    text-align:center;
}
.regular-font{
    font-family:$regular-font;
}
.input-field-sm{
    @include input-style(20%);  
}
.input-field-lg{
    @include input-style(40%);  
}
.search-bar{
    justify-content: flex-end;
}
input:focus{
    background-color: $focus-color;
}
.span-header{
    background-color: #fff;
    padding: .3em .4em;
    line-height: 1.5em;
    -webkit-box-decoration-break: clone;
}

.input-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}
.input-label{
    font-family: $italic-font;
    font-size:20px;
}
.mint-navbar{
    @include navigation();
    background-color:$mint-color;
    ul{
        @include navigation-ul();
        li{
            @include navigation-li();
            a{
                text-decoration: none;
                color:$white-color;
            }
            a:hover{
                color:$nav-hover;
            }

        }
    }
    .search-bar{
        input{
            @include input-style(100%);
        } 
        padding: 20px;
        display:flex;
        width:30%;
    }
    .navbar-bars{
        @include icons();
    }

}
.pink-navbar{
    @include navigation();
    background-color:$pink-color;
    ul{
        @include navigation-ul();
        li{
            @include navigation-li();
            a{
                text-decoration: none;
                color:$white-color;
            }
            a:hover{
                color:$nav-hover;
            }

        }
    }
}

