
@mixin cols(){
    display:grid;
}
@function col-template($colnumber){
    $result:null;
    $width: (100%/$colnumber);
    @for $i from 1 through $colnumber {
        $result:append($result , $width) 
        }
    @return  $result;  

}


@mixin block-row($row-start, $row-end){
    
    @if $row-start == '0' {
        grid-row:#{$row-end};
    }
    @else if $row-end == '0' {
        grid-row:#{$row-start};
    }
    @else{
        grid-row: #{$row-start/$row-end}; 
    }
   
}
@mixin block-col($col-start, $col-end){
    @if $col-start == '0' {
        grid-column:#{$col-end};
    }
    @else if $col-end == '0' {
        grid-column:#{$col-start};
    }
    @else{
        grid-column:#{$col-start/$col-end};
    }

}
.container, .container-nav, .reverse-container{
 @include cols();
}

@for $i from 0 through 12 {
    @for $j from 0 through 12 {
    .col-#{$i}-#{$j} {
        @include block-col(#{$i},#{$j});
    }
    .row-#{$i}-#{$j} {
        @include block-row(#{$i},#{$j}); 
      }
      
  }
}
@for $i from 1 through 8{
    .col-template-#{$i}{
       grid-template-columns: col-template($i); 
       
    }
    
}
@media (max-width:766px){

.container{
    display: flex;
    flex-direction: column;
    }
.reverse-container{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
}
.big-img{
    width:200px!important;
}
.logo-nav-img{
    width:170px!important;
    margin-top:0!important;
}
.seriosly-btn{
    display:none;
}
.remove-top-150{
    margin-top:0!important;
}
.h3-center-responsive{
    font-size:30px!important;
}
}
@media (min-width:767px) and (max-width:849px){

        .sm-col{
            width:50%;
        }
        .xs-col{
            
            width:40%;
        }
        .big-col{
        width:80%;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .reverse-container{
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: center;
        }
   
 }
 @media (min-width:850px) and (max-width:1100px){
    .big-col{
        width:80%;
     }
    .sm-col{
        width:50%;
    }
    .xs-col{
        width:45%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reverse-container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}