$primary: #78c2ad;
$secondary: #f3969a;
$success: #56cc9d;
$info: #6cc3d5;
$warning: #ffce67;
$danger: #ff7851;
$link: #ffffff;
$dark: #18181d;
$list-group-bg: #ffffff;
$list-group-border: 1px solid lightgrey;
$border-radius: 0.4rem;
$letter_color: #888888;
$padding-default: 0.5rem 1rem;
$padding-lg: 0.75rem 1.5rem;
$padding-sm: 0.35rem 0.7rem;
$margin-default: 0.5rem 0.5rem;
$font-size-lg: 1.3rem;
$font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
.btn {
  padding: $padding-default;
  margin: $margin-default;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  color: white;
  border: 1px solid transparent;
  background-color: grey;
  border-radius: $border-radius;
  font-size: 1rem;
  background: grey;
}
.btn:focus,
.btn:active,
.btn:hover {
  opacity: 1.25;
}
.btn-primary {
  background-color: $primary;
}

.btn-secondary {
  background-color: $secondary;
}
.btn-success {
  background-color: $success;
}
.btn-info {
  background-color: $info;
}
.btn-warning {
  background-color: $warning;
}
.btn-danger {
  background-color: $danger;
}
.btn-link {
  background-color: $link;
}
.btn-lg {
  padding: $padding-lg;
  font-size: $font-size-lg;
}
.btn-sm {
  padding: $padding-sm;
}
.list-group {
  background-color: $list-group-bg;
  border-radius: $border-radius;
  a {
    text-decoration: none;
    color: #888888 !important;
  }
}
.list-group-item {
  display: block;
  padding: 10px 15px;
  border: $list-group-border;
  margin-bottom: -1px;
  &.active {
    background-color: #78c2ad;
    color: #ffffff;
  }
  &.active:hover {
    background-color: #78c2ad;
  }
  &:hover {
    background-color: #f8f9fa;
    color: black;
  }
}

.table {
  display: table;
  border-spacing: 0;

  width: 100%;
  max-width: 100%;
  font-family: $font-family;
  font-size: 1rem;
  th,
  td {
    display: table-cell;
    text-align: left;
    padding: 20px 10px;
    border: 1px solid transparent;
  }
}

@mixin table_styling($property, $default: false) {
  @if $default {
    background-color: silver;
  } @else {
    background-color: $property;
    td,
    th {
      color: #ffffff !important;
    }
  }
}
@mixin table_hover($default: false) {
  @if $default {
    background-color: silver;
  } @else {
    color: $letter_color;
  }
}

.table-primary {
  @include table_styling($primary);
}
.table-secondary {
  @include table_styling($secondary);
}

.table-success {
  @include table_styling($success);
}
.table-danger {
  @include table_styling($danger);
}
.table-warning {
  @include table_styling($warning);
}
.table-info {
  @include table_styling($info);
}
.table-light {
  @include table_styling($link);
  td,
  th {
    color: #888888 !important;
  }
}
.table-dark {
  @include table_styling($dark);
}
.table-active {
  background-color: lightgrey;
  opacity: 0.75;
}

.table-hover {
  > tbody > tr:hover {
    opacity: 0.75;
    td,
    th {
      cursor: pointer;
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-right: 0.2rem;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-column {
  flex-direction: column;
}
.justify-content-start {
  display: flex;
  align-items: flex-start;
}
.justify-content-end {
  display: flex;

  justify-content: flex-end;
}
.justify-content-between {
  display: flex;
  justify-content: space-between;
}
.justify-content-center {
  display: flex;
  justify-items: center;
}
.align-items-center {
  display: flex;
  justify-content: center;
}
.text-align-center {
  text-align: center;
}
.m-0 {
  margin: 0;
}
@mixin padding($space) {
  padding-top: $space;
  padding-bottom: $space;
}
.p-5 {
  @include padding(3rem);
}
.pt-5 {
  padding-top: 3rem;
}
.pb-5 {
  padding-bottom: 3rem;
}
.pl-5 {
  padding-left: 3rem;
}
.pr-5 {
  padding-right: 3rem;
}

.p-3 {
  @include padding(2rem);
}
.pt-3 {
  padding-top: 2rem;
}
.pb-3 {
  padding-bottom: 2rem;
}
.pl-3 {
  padding-left: 2rem;
}
.pr-3 {
  padding-right: 2rem;
}
.m-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.more-links {
  height: 150px;
}
.person {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.bg-danger {
  background-color: #d33a2c;
}

.bg-success {
  background-color: #56cc9d;
}
.mx-auto {
  margin: 0 auto;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

@media (max-width: $grid-breakpoint) {
  .btn {
    padding: 0.35vh 0.75vw !important;
    font-size: 1rem;
  }
}

// for site styling
.footer-ul > li {
  float: left;
  padding-right: 1.5rem;
}
.founded-a,
.footer-a {
  text-decoration: none;
  padding-right: 1rem;
}
.email-input {
  margin: -1rem;
}
.guides-ul {
  line-height: 3rem;
}
.guides-ul > li {
  font-size: 1.5rem;
}

.persons-decription {
  padding-left: 1.5rem;
}
$grid-breakpoint: 48rem !default;

.fs-it-btn-vertical-line {
  text-align: center;
  padding: 0.4vh 0.3vw 0.5vh 0.3vw;
  margin-left: 0.1vw;
  border-left: 1px solid #a2a2a2;
}
.footer-ul {
  width: 80%;
  list-style-image: url("./assets/images/rsz_bullet_point_red-512.png");
  list-style-type: circle;
  line-height: 2rem;
  text-align: center;
}
.footer-div {
  text-align: center;
}
.footer-ul-contact > li {
  display: inline-block;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
  background: lightpink;
  box-shadow: 1px 2px lightgrey;
  height: 100%;
}

.main-person > .img-person {
  width: 150px !important;
  height: 150px !important;
}
