.btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  color: white;
  border: 1px solid transparent;
  background-color: grey;
  border-radius: 0.4rem;
  font-size: 1rem;
  background: grey; }

.btn:focus,
.btn:active,
.btn:hover {
  opacity: 1.25; }

.btn-primary {
  background-color: #78c2ad; }

.btn-secondary {
  background-color: #f3969a; }

.btn-success {
  background-color: #56cc9d; }

.btn-info {
  background-color: #6cc3d5; }

.btn-warning {
  background-color: #ffce67; }

.btn-danger {
  background-color: #ff7851; }

.btn-link {
  background-color: #ffffff; }

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.3rem; }

.btn-sm {
  padding: 0.35rem 0.7rem; }

.list-group {
  background-color: #ffffff;
  border-radius: 0.4rem; }
  .list-group a {
    text-decoration: none;
    color: #888888 !important; }

.list-group-item {
  display: block;
  padding: 10px 15px;
  border: 1px solid lightgrey;
  margin-bottom: -1px; }
  .list-group-item.active {
    background-color: #78c2ad;
    color: #ffffff; }
  .list-group-item.active:hover {
    background-color: #78c2ad; }
  .list-group-item:hover {
    background-color: #f8f9fa;
    color: black; }

.table {
  display: table;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem; }
  .table th,
  .table td {
    display: table-cell;
    text-align: left;
    padding: 20px 10px;
    border: 1px solid transparent; }

.table-primary {
  background-color: #78c2ad; }
  .table-primary td,
  .table-primary th {
    color: #ffffff !important; }

.table-secondary {
  background-color: #f3969a; }
  .table-secondary td,
  .table-secondary th {
    color: #ffffff !important; }

.table-success {
  background-color: #56cc9d; }
  .table-success td,
  .table-success th {
    color: #ffffff !important; }

.table-danger {
  background-color: #ff7851; }
  .table-danger td,
  .table-danger th {
    color: #ffffff !important; }

.table-warning {
  background-color: #ffce67; }
  .table-warning td,
  .table-warning th {
    color: #ffffff !important; }

.table-info {
  background-color: #6cc3d5; }
  .table-info td,
  .table-info th {
    color: #ffffff !important; }

.table-light {
  background-color: #ffffff; }
  .table-light td,
  .table-light th {
    color: #ffffff !important; }
  .table-light td,
  .table-light th {
    color: #888888 !important; }

.table-dark {
  background-color: #18181d; }
  .table-dark td,
  .table-dark th {
    color: #ffffff !important; }

.table-active {
  background-color: lightgrey;
  opacity: 0.75; }

.table-hover > tbody > tr:hover {
  opacity: 0.75; }
  .table-hover > tbody > tr:hover td,
  .table-hover > tbody > tr:hover th {
    cursor: pointer; }

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-right: 0.2rem; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.d-column {
  flex-direction: column; }

.justify-content-start {
  display: flex;
  align-items: flex-start; }

.justify-content-end {
  display: flex;
  justify-content: flex-end; }

.justify-content-between {
  display: flex;
  justify-content: space-between; }

.justify-content-center {
  display: flex;
  justify-items: center; }

.align-items-center {
  display: flex;
  justify-content: center; }

.text-align-center {
  text-align: center; }

.m-0 {
  margin: 0; }

.p-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pt-5 {
  padding-top: 3rem; }

.pb-5 {
  padding-bottom: 3rem; }

.pl-5 {
  padding-left: 3rem; }

.pr-5 {
  padding-right: 3rem; }

.p-3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pt-3 {
  padding-top: 2rem; }

.pb-3 {
  padding-bottom: 2rem; }

.pl-3 {
  padding-left: 2rem; }

.pr-3 {
  padding-right: 2rem; }

.m-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.more-links {
  height: 150px; }

.person {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

.bg-danger {
  background-color: #d33a2c; }

.text-white {
  color: whitesmoke; }

.bg-success {
  background-color: #56cc9d; }

.mx-auto {
  margin: 0 auto; }

.footer-ul > li {
  display: inline-block;
  float: left;
  padding-right: 1rem; }

.founded-a,
.footer-a {
  text-decoration: none;
  color: whitesmoke; }

.email-input {
  margin: -1rem; }

.guides-ul {
  line-height: 3rem; }

.guides-ul > li {
  font-size: 1.5rem; }

.featured {
  height: 100vh; }

.featured-img {
  height: auto;
  position: absolute;
  top: -20px;
  left: 30px;
  transform: rotate(-10deg); }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.persons-decription {
  padding-left: 1.5rem; }

/*# sourceMappingURL=style.css.map */
