* {
  box-sizing: border-box;
}

.row {
  width: 100%;
  background-color: gray;
  overflow: hidden;
}
.row:after {
  display: table;
  clear: both;
  content: "";
}
$grid-breakpoint: 48rem !default;
$grid-gutter: 10px !default;

@mixin column-calc($col) {
  //$width: calc((100% - #{$grid-gutter} * 12) / 12);

  $multiplier: 12 / $col;
  $spacing: (12-$col)/12;
  //width: calc(100% * #{$multiplier});
  width: calc(100% /#{$multiplier} - (#{$grid-gutter} * #{$spacing}));

  // width: calc(#{$col} * #{$width} - #{$grid-gutter});
  float: left;
  margin-right: #{$grid-gutter};
  margin-top: #{$grid-gutter};
  @media (max-width: $grid-breakpoint) {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
.row div:last-of-type {
  margin-right: 0;
}
.col-1 {
  @include column-calc(1);
}
.col-2 {
  @include column-calc(2);
}
.col-3 {
  @include column-calc(3);
}
.col-4 {
  @include column-calc(4);
}
.col-5 {
  @include column-calc(5);
}
.col-6 {
  @include column-calc(6);
}

.col-7 {
  @include column-calc(7);
}
.col-8 {
  @include column-calc(8);
}
.col-9 {
  @include column-calc(9);
}

.col-10 {
  @include column-calc(10);
}

.col-11 {
  @include column-calc(11);
}
.col-12 {
  @include column-calc(12);
}

[class*="col-"] {
  background-color: lightblue;
}